<form [formGroup]="incomeForm" (ngSubmit)="saveIncome()">

  <h1>Uj bevetel rogzitese</h1>

  <div class="form-group">
    Tipus (pl. fizetes...)
    <input type="text" class="form-control" formControlName="typeOfIncome"
      [ngClass]="{'is-invalid': incomeForm.get('typeOfIncome').errors} ">
    <div class="invalid-feedback"
      *ngIf="incomeForm.get('typeOfIncome').hasError('required') && incomeForm.get( 'typeOfIncome').touched">Kotelezoen
      kitoltendo!</div>
  </div>

  <div class="form-group">
    Datum
    <input type="date" class="form-control" formControlName="dateOFIncome"
      [ngClass]="{'is-invalid': incomeForm.get('dateOFIncome').errors && incomeForm.get('dateOFIncome').touched}">
    <div class="invalid-feedback" *ngIf="incomeForm.get('dateOFIncome').hasError('required') 
      && incomeForm.get('dateOFIncome').touched">A datumot kotelezo megadni!</div>
  </div>

  <div class="form-group">
    Osszeg
    <input type="number" class="form-control" formControlName="amountOfIncome"
      [ngClass]="{'is-invalid': incomeForm.get('amountOfIncome').errors && incomeForm.get('amountOfIncome').touched}">
    <div class="invalid-feedback"
      *ngIf="incomeForm.get('amountOfIncome').hasError('required') && incomeForm.get('amountOfIncome').touched">Az
      osszeget kotelezo megadni!</div>
  </div>

  <div class="form-group">
    Megjegyzes
    <input type="text" class="form-control" formControlName="incomeAdditionalInformation"
      [ngClass]="{'is-invalid': incomeForm.get('incomeAdditionalInformation').errors} ">
    <div class="invalid-feedback "
      *ngIf="incomeForm.get('incomeAdditionalInformation').hasError('maxlength') && incomeForm.get( 'incomeAdditionalInformation').touched">
      A megjegyzes maximum 100 karakter hosszu lehet!</div>
  </div>

  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary ">Ment</button>
  </div>

</form>

<p>
  Egyenleg: {{balance}} Ft
</p>

<h1>Korabbi bevetelek</h1>

<table id="formerIncome" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
     <th class="th-sm">Tipus</th>
     <th class="th-sm">Datum</th>
     <th class="th-sm">Osszeg</th>
     <th class="th-sm">Megjegyzes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let income of existingIncome">
      <td>{{income.typeOfIncome}}</td>
      <td>{{income.dateOFIncome | date: 'yyyy.MM.dd'}}</td>
      <td>{{income.amountOfIncome}} Ft</td>
      <td>{{income.incomeAdditionalInformation}}</td>
    </tr>
  </tbody>
</table>