<p>
    Tartsa nyilvan beveteleit es kiadasait, kalkulalja bele az elore lathato jovobeni kisebb-nagyobb kiadasait!
</p>

<form *ngIf="!loggedIn()" [formGroup]="registerForm" (ngSubmit)="register()">

    <h2 class="text-center text-primary">Regisztráció</h2>

    <div class="form-group ">
        Felhasznalonev
        <input type="text " class="form-control " formControlName="userName" [ngClass]="{'is-invalid': registerForm.get('userName').errors  && registerForm.get('userName').touched}">
        <div class="invalid-feedback" *ngIf="registerForm.get('userName').hasError('required')  && registerForm.get('userName').touched">
            Kotelezoen megadando!</div>
    </div>

    <div class="form-group ">
        Jelszo
        <input type="password " class="form-control " formControlName="password" [ngClass]="{'is-invalid': registerForm.get('password').errors  && registerForm.get('password').touched}">
        <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required')  && registerForm.get('password').touched">
            Kotelezoen megadando!</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength')  && registerForm.get('password').touched">Minimum 8 karakter hosszusagu legyen!</div>
    </div>

    <div class="form-group ">
        Megerosites
        <input type="password " class="form-control " formControlName="confirmPassword" [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors  && registerForm.get('confirmPassword').touched || registerForm.get('confirmPassword').touched && registerForm.get('mismatch')}">
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required')  && registerForm.get('confirmPassword').touched">
            Kotelezoen kitoltendo!</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('mismatch')  && registerForm.get('confirmPassword').touched">
            Jelszavak nem egyeznek!</div>
    </div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Ment</button>
    </div>

</form>