<form [formGroup]="costForm" (ngSubmit)="saveCost()">

    <h1>Uj kiadas rogzitese</h1>

    <div class="form-group">
        Datum
        <input type="date" [ngClass]="{'is-invalid': costForm.get('dateOfCost').errors && costForm.get('dateOfCost').touched}" class="form-control" formControlName="dateOfCost">
        <div class="invalid-feedback" *ngIf="costForm.get('dateOfCost').hasError('required') 
        && costForm.get('dateOfCost').touched">A datumot kotelezo megadni!</div>
    </div>

    <label>Kategoria</label>
    <select class="custom-select " (change)="changeCategory($event) " formControlName="categoryName ">
        <option *ngFor="let category of categories " [ngValue]="category ">
            {{category}}
        </option>
    </select>

    <label>Uzlet</label>
    <select class="custom-select " (change)="changeShop($event) " formControlName="shopName ">
        <option *ngFor="let shop of shops " [ngValue]="shop ">
            {{shop}}
        </option>
    </select>

    <div class="form-group ">
        Osszeg
        <input type="number " [ngClass]="{ 'is-invalid': costForm.get( 'amountOfCost').errors && costForm.get( 'amountOfCost').touched} " class="form-control " formControlName="amountOfCost ">
        <div class="invalid-feedback " *ngIf="costForm.get( 'amountOfCost').hasError('required') && costForm.get( 'amountOfCost').touched">Az osszeget kotelezo megadni!</div>
    </div>

    <div class="form-group">
        Megjegyzes
        <input type="text " class="form-control" formControlName="additionalInformation" [ngClass]="{ 'is-invalid': costForm.get( 'additionalInformation').errors} ">
        <div class="invalid-feedback " *ngIf="costForm.get( 'additionalInformation').hasError( 'maxlength') && costForm.get( 'additionalInformation').touched">A megjegyzes maximum 100 karakter hosszu lehet!</div>
    </div>

    <div class="form-group text-center">
        <button type="submit " class="btn btn-primary ">Ment</button>
    </div>

</form>

<h1>Korabbi kiadasok</h1>

<table>
    <tr>
        <th>Datum</th>
        <th>Kategoria</th>
        <th>Uzlet</th>
        <th>Osszeg</th>
        <th>Megjegyzes</th>
    </tr>
    <tr *ngFor="let cost of existingCosts">
        <td>{{cost.dateOfCost}}</td>
        <td>{{cost.categoryName}}</td> <!-- TODO: fix this-->
        <td>{{cost.shopName}}</td>
        <td>{{cost.amountOfCost}} Ft</td>
        <td>{{cost.additionalInformation}}</td>
    </tr>
</table>
